 <script type="text/ng-template" id="addToken.html">
 	<div class="modal-header">
 		<h2 class="modal-title">Add Token</h2>
 	</div>
 	<div class="modal-body form-horizontal" style="overflow:hidden">
 		<h3 >Info</h3>
 		<div class="form-group" style="margin-bottom:10px">
 			<label class="control-label col-sm-3">Name:</label>
 			<div class="col-sm-6">
 				<input class="form-control" placeholder="Enter token name" ng-model="name">
 			</div>
 		</div>
 		<div class="form-group" style="margin-bottom:10px">
 			<label class="control-label col-sm-3">Uses:</label>
 			<div class="col-sm-6">
 				<div ng-show="!unlimitedUses" style="display:inline">
 					<span class="centerText bold" style="margin:0px 10px">{{uses}}</span>
 					<div class="btn-group">
 						<button type="button" class="btn btn-primary" ng-click="incrementUses()"><span class="glyphicon glyphicon-plus"></span></button>
 						<button type="button" class="btn btn-primary" ng-click="decrementUses()"><span class="glyphicon glyphicon-minus"></span></button>
 					</div>

 				</div>
 				<label class="checkbox-inline"><input ng-model="unlimitedUses" type="checkbox">Unlimited</label>
 			</div>
 		</div>
 		<h3 >Doors</h3>
 		<div class="row content-row">
 			<div class="col-sm-6 col-sm-offset-3 btn-group" style="text-align:center" ng-repeat="door  in addedDoors" style="padding:0px 5px;">
 				<button type="button" class="btn btn-primary" >{{door.name}}</button>
 				<button type="button" class="btn btn-primary" ng-click="deleteAddedDoor($index)"><span class="glyphicon glyphicon-remove-circle"></span></button>
 			</div>
 		</div>
 		<div class="form-group" style="margin-bottom:10px">
 			<label class="control-label col-sm-3">Add door:</label>
 			<div class="col-sm-6">
 				<div angucomplete-alt id="doorInput"
 				placeholder="Search door"
 				pause="100"
 				selected-object="doorToAdd"
 				remote-url="/api/doors"
 				remote-url-request-formatter="doorFormatter"
 				remote-url-data-field="doors"
 				title-field="name"
 				description-field="section"
 				minlength="1"
 				clear-selected="true"
 				input-class="form-control"/>
 			</div>
 		</div>
 		
 		<h3>Schedule</h3>
 		<tabset justified="true" >
 			<tab heading="Interval" select="setDaily(false);">
 				<div class="row">
 					<div class="col-sm-6" style="text-align: center; ">
 						<h4>Start</h4>
 						<div class="datePicker">
 							<datepicker  ng-model="dates.startDate" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
 						</div>
 						<div>
 							<timepicker style="display:inline-block" ng-model="dates.startTime" ng-change="updateDates()" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
 						</div>
 						<div class="row">
 							<p class="centerText bold">Start date: {{prettyDate(startDateTime)}}</p>
 						</div>
 					</div>
 					<div class="col-sm-6" style="text-align: center; ">
 						<h4>End</h4>
 						<div style="display:inline-block; min-height:290px;">
 							<datepicker ng-model="dates.endDate" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
 						</div>
 						<div>
 							<timepicker ng-change="updateDates()" style="display:inline-block" ng-model="dates.endTime" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
 						</div>
 						<div class="row">
 							<p class="centerText bold">End date: {{prettyDate(endDateTime)}}</p>
 						</div>
 					</div>
 				</div>

 			</tab>
 			<tab heading="Daily"select="setDaily(true);">
 				<div class="row" style="text-align: center; ">
 					<div class="col-sm-6">
 						<h4>Start time</h4>
 						<timepicker style="display:inline-block" ng-model="dates.startDailyTime" hour-step="1" minute-step="15" show-meridian="true"></timepicker>

 					</div>
 					<div class="col-sm-6">
 						<h4>End time</h4>
 						<timepicker style="display:inline-block" ng-model="dates.endDailyTime" hour-step="1" minute-step="15" show-meridian="true"></timepicker>

 					</div>
 				</div>
 				<form style="text-align: center; " class="form-inline">
 					<label class="checkbox-inline"><input ng-model="days[0]" type="checkbox">Monday</label>
 					<label class="checkbox-inline"><input ng-model="days[1]" type="checkbox">Tuesday</label>
 					<label class="checkbox-inline"><input ng-model="days[2]" type="checkbox">Wednesday</label>
 					<label class="checkbox-inline"><input ng-model="days[3]" type="checkbox">Thursday</label>
 					<label class="checkbox-inline"><input ng-model="days[4]" type="checkbox">Friday</label>
 					<label class="checkbox-inline"><input ng-model="days[5]" type="checkbox">Saturday</label>
 					<label class="checkbox-inline"><input ng-model="days[6]" type="checkbox">Sunday</label>
 				</div>
 			</form>
 		</tab>
 	</tabset>
 </div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{user.alias}} - {{user.name}} <span ng-show="!user.active">(Deactivated)</span></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-5 ">
		<img class="userImage img-responsive" ng-src="{{user.profilePic}}">
	</div>
	<div class="col-sm-7 ">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="form-group" style="margin-bottom:10px">
					<label class="control-label col-sm-3">Name:</label>
					<div class="col-sm-6">
						<input class="form-control" placeholder="Update user name" ng-model="editedUser.name">
					</div>
				</div>
				<div class="form-group" style="margin-bottom:10px">
					<label class="control-label col-sm-3">Password:</label>
					<div class="col-sm-6">
						<input class="form-control" type="password" placeholder="Update password" ng-model="editedUser.password">
					</div>
				</div>
					<div class="form-group" style="margin-bottom:10px">
					<label class="control-label col-sm-3">Email:</label>
					<div class="col-sm-6">
						<input class="form-control" placeholder="Update user mail" ng-model="editedUser.email">
					</div>
				</div>
									<div class="form-group" style="margin-bottom:10px">
					<label class="control-label col-sm-3">Active:</label>
					<div class="col-sm-6">
						<input style="margin-top:9px" type="checkbox"  ng-model="editedUser.active">
					</div>
				</div>
				<div class="form-group" style="margin-bottom:10px">
					<label class="control-label col-sm-3"  for="image" class="rem">Image:</label>
					<div class="col-sm-6">
						<input  type="file" accept="image/*" id="image" name="image"/>
					</div>
				</div>
			</div>
		</form>
		<button class="btn btn-success pull-right" ng-click="saveProfile()">Save profile</button>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h2 >Tokens</h2>
	</div>
</div>
<div class="row" ng-repeat="row in tokensRows"><div class="col-lg-12">
	<div class="col-sm-3" ng-repeat="token in row">
		<div class="panel panel-default " >
			<div class="panel-heading">
				{{token.name}}
			</div>
			<div class="panel-body">
				<p>Doors: <span ng-repeat="door in token.doors">{{door}}, </span></p> 
				<p>Validity: from {{getFromString(token)}} to {{getToString(token)}} <span ng-show="token.validity.repeat.length>0">on <span ng-repeat="day in token.validity.repeat">{{getDayString(day)}}, </span></span></p>
				<p ><span ng-show="token.validity.uses>0">{{token.validity.uses}} uses left</span></p>
			</div>
			<div class="panel-footer">
				<button class="btn btn-danger pull-left" ng-click="deleteToken($parent.$index,$index)">Revoke token</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div></div>
</div>
<button class="btn btn-success pull-right" ng-click="addToken()">Add token</button>