<script type="text/ng-template" id="addToken.html">
    <div class="modal-header">
        <h2 class="modal-title">Add Token</h2>
    </div>
    <form class="modal-body form-horizontal"  style="overflow:hidden" >
        <div ng-include="'newTokenFields.html'">

        </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{user.alias}} - {{user.name}} <span ng-show="!user.active">(Deactivated)</span></h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 ">
     <div class="responsive-square">
        <img class="square-content userImage img-responsive" style="object-fit:cover;" ng-src="{{user.profilePic}}">
    </div>

</div>
<div class="col-sm-7 ">
    <form class="form-horizontal" >
        <div class="form-group">
            <div class="form-group" style="margin-bottom:10px">
                <label class="control-label col-sm-3">Name:</label>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="Update user name" ng-model="editedUser.name">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label class="control-label col-sm-3">Password:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" placeholder="Update password"
                    ng-model="editedUser.password">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label class="control-label col-sm-3">Email:</label>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="Update user mail" ng-model="editedUser.email">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label class="control-label col-sm-3">Active:</label>
                <div class="col-sm-6">
                    <input style="margin-top:9px" type="checkbox" ng-model="editedUser.active">
                </div>
            </div>
            <div class="form-group" style="margin-bottom:10px">
                <label class="control-label col-sm-3" for="image" class="rem">Image:</label>
                <div class="col-sm-6">
                    <input type="file" accept="image/*" id="image" name="image"/>
                </div>
            </div>
        </div>
        <button class="btn btn-success pull-right" ng-click="saveProfile()">Save profile</button>
    </form>

</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Tokens</h2>
    </div>
</div>
<div class="row" ng-repeat="row in tokensRows">
    <div class="col-lg-12">
        <div class="col-sm-3" ng-repeat="token in row">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    {{token.name}}
                </div>
                <div class="panel-body">
                    <p>Doors: <span ng-repeat="door in token.doors">{{door}}, </span></p>
                    <p>Validity: from {{getFromString(token)}} to {{getToString(token)}} <span
                        ng-show="token.validity.repeat.length>0">on <span ng-repeat="day in token.validity.repeat">{{getDayString(day)}}, </span></span>
                    </p>
                    <p><span ng-show="token.validity.uses>0">{{token.validity.uses}} uses left</span></p>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-danger pull-left" ng-click="deleteToken($parent.$index,$index)">Revoke
                        token
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-success pull-right" ng-click="addToken()">Add token</button>
<div class="clearfix"></div>