.modal-backdrop {
  bottom: 0;
  position: fixed;
}
.colPadding{
	padding: 0px 10px;
}

.leftSeparator {
    border-left-width: 1px;
    border-left-color: #ccc;
    border-left-style: solid;
}

.bottomSeparator {
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
}
.centerText{
	text-align: center;
}
.bold{
	font-weight: bold;
}
.datePicker{
	display:inline-block; min-height:290px;
}
.content-row{
	padding: 10px 0px;
}

.responsive-square{
    text-align:left;
  position:relative;
  width:100%;
}

.responsive-square:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

.responsive-square .square-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.token-modal-window .modal-dialog{
  width: 90%;
  margin:30px auto;
}

@media( min-width:768px ){
  .token-modal-window .modal-dialog{
    width: 700px;
  }
}

@media( min-width:992px ){
  .token-modal-window .modal-dialog{
    width: 800px;
  }
}