<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Doors</h1>
	</div>
</div>

<form class="form-horizontal">
    <div class="form-group" style="margin-bottom:10p">
        <div class="col-sm-4 col-sm-offset-4">
            <input class="form-control" placeholder="Filter" ng-model="search">
        </div>
    </div>
</form>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="door in doors | filter : search">
      <div ng-class="!door.online ?  'panel-danger ' : !door.active? 'panel-warning': 'panel-green'" class="panel " >
          <div class="panel-heading">
              {{door.name}}
          </div>
          <div class="panel-body" style="text-align:center">
            <div class="row">
            <div class="col-sm-6">
            <i ng-class="door.open? 'fa-unlock' : 'fa-lock'" class="fa" style="font-size:6em"> </i>
            </div>
             <div  class="col-sm-6">
          <p>Section {{door.section}}</p>
          <p ng-show="door.open">Open</p>
          <p ng-show="!door.open">Closed</p>
          <p ng-show="door.active">Active</p>
          <p ng-show="!door.active">Deactivated</p>
          <p ng-show="!door.online">Offline</p>
          <p ng-show="door.online">Online</p>
          </div>
          </div>
          </div>
          <div class="panel-footer" >
            <button ng-show="door.active" ng-disabled="!door.online" class="btn btn-danger pull-right" ng-click="deactivateDoor(door)">Deactivate door</button>
             <button ng-show="!door.active" ng-disabled="!door.online" class="btn btn-info pull-right" ng-click="activateDoor(door)">Activate door</button>
              <div class="clearfix"></div>
          </div>
      </div>
</div>
</div>